//Color Palette
$blackColor: rgb(31, 28, 28);
$redColor: rgb(139, 37, 37);

//Fonts
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: 'Times New Roman', Times, serif;

@mixin textStyles ($color, $font-family, $font-size){
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
}