body{
  margin: 0;
  padding: 0;
}

.btn{
  background-color: rgba(0, 0, 0, 0.247) !important;
}
.btn:hover{
  background-color: rgba(0, 0, 0, 0.822) !important;
}
.active{
  opacity: 1;
  transition: .25s linear;
}
.inactive{
  opacity: 0;
  transition: .25s linear;
}